.parallax-container {
  min-height: 560px;
}

.small-parallax-container{
  min-height: 300px;
}

.medium-dark-parallax-xontainer{
  background: rgba(0, 0, 0, 0.5);
}

.dark-parallax-container{
  background: rgba(0, 0, 0, 0.64);
}

.parallax-container .parallax img{
  display: block;
  transform: translate3d(-50%, 362px, 0px);
}

.home-content-container{
  padding-top: 170px;
}

nav a{
  color: white;
}
nav a.active {
  /*background: #00AC7F;*/
  /*color: #fff;*/
  font-weight: 600;
  /*color: #38b99c;*/
  color: #26a69a;
  /*color: #47c143;*/
  /*color: #fb8c00;*/
  font-size: 1.1rem;
  border-bottom: solid 3px;
}
.scroll-nav{
  position: fixed;
  background: none;
  /*top: -64px;*/
  z-index: 1000;
  transition: all 0.4s ease-in;
}

.show-scroll-nav{
  background: rgba(38, 38, 38, 0.85) !important;
  top:0;
  transition: all 0.4s ease-in;
}

.parallax-nav{
  background: none;
  box-shadow: none;
}

.name{
  color: white;
  font-weight: 600;
}

#expertise{
  padding-top: 60px;
}


.know-more{
  margin: 20px 0 60px 0;
}

.work-content-container{
  padding-top: 60px;
}

.work-content-container a{
  margin-bottom: 50px;
}

.work-description h5{
    font-weight: 400;
}

.work-left-description{
  padding: 0 120px 0 10px !important;
}

.work-right-description{
  float: right !important;
  padding: 0 10px 0 120px !important;
}

.work-description-highlight{
  margin-top: 0;
  color: #3b9670;
}

.work-description-content{
  color: #949494;
  margin-top: 0;
}

#testimonials{
  padding: 60px 0;
  background: #f9f9f9;
}

.quote{
  font-size: 1.4rem;
  color: #727272;
}

.quote-img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.quote-title{
  padding-left: 15px;
  color: #999999;
}

.separator{
  width: 100%;
  height: 1px;
  border: solid 1px #ffffff;
  margin-bottom: 35px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 221, 218, 0.75), rgba(0, 0, 0, 0));
}

.connect-links i{
  width: 25px;
}

.connect-links li{
  padding: 5px;
  font-size: 17px;
}

.my-picture{
  border-radius: 170px;
  height: 250px;
  width: 244px;
}

.bio-section{
  padding: 0 120px 0 55px;
}

.small-center, .medium-center{
  text-align: left;
}


@media screen and (max-width: 601px){
  #index-banner .section {
    top: 0;
  }

  .small-center{
    text-align: center;
  }
}

@media only screen and (min-width: 993px){
  .container {
    width: 80%;
  }

  .bio-section{
    padding: 0 20px 0 70px !important;
  }
}

@media only screen and (max-width : 992px) {
  .work-left-description, .work-right-description{
    padding: 0 10px !important;
  }

  #index-banner .section {
    top: 10%;
  }

  .medium-center{
    text-align: center;
  }

  .bio-section{
    margin: 20px 0;
  }

  .bio-section p{
    max-width: 500px;
    margin: auto;
  }

  footer li{
    display: inline-block;
  }
}

@media screen and (min-width: 1300px) {
  .bio-section{
    padding: 0 60px 0 60px !important;
  }
}

@media only screen and (min-width: 1500px){
  .container {
    width: 70%;
  }

  .bio-section{
    padding: 0 100px 0 55px !important;
  }
}

@media screen and (max-width: 1500px){
  .bio-section{
    padding: 0 30px 0 60px;
  }
}