<div id="home" class="parallax-container medium-dark-parallax-xontainer">
  <div class="section no-pad">
    <nav class="parallax-nav scroll-nav"
         role="navigation"
         ng-class="{'show-scroll-nav': showNav}">
      <div class="nav-wrapper container">
        <a id="logo-container-2" href="#" class="brand-logo">
          <img src="images/rz-logo.png" alt="logo" width="40px">
	        <span style="font-size: 14px;">Robert Zeni</span>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#home" du-smooth-scroll du-scrollspy>Home</a></li>
          <li><a href="#expertise" du-smooth-scroll du-scrollspy>Expertise</a></li>
          <li><a href="#work" du-smooth-scroll du-scrollspy>Work</a></li>
          <li><a href="#testimonials" du-smooth-scroll du-scrollspy>Testimonials</a></li>
          <li><a href="#contact" du-smooth-scroll du-scrollspy>Contact</a></li>
        </ul>

        <ul id="nav-mobile-2" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#"
           data-activates="nav-mobile"
           class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>

    <div class="container home-content-container">
      <br><br>
      <!--<h1 class="header center name">Robert Zeni</h1>-->
      <div class="row center mono">
        <h3 class="header col s12 light">Full-Stack Developer</h3>
	      <h5 class="header col s12 light">Ambitious. Passionate. Creative.</h5>
      </div>
      <div class="row center">
        <a href="#contact" du-smooth-scroll
           id="download-button"
           class="btn-large waves-effect waves-light teal lighten-1">
          AVAILABLE FOR HIRE
        </a>
      </div>

      <br>

    </div>
  </div>
  <div parallax class="parallax">
    <img src="images/background1.7.jpg"
         alt="Unsplashed background img 1">
  </div>
</div>

<div id="expertise" class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <h3 class="center bold">My Expertise</h3>
      <h5 class="center know-more">
        From design to functionality, I've got you covered.
      </h5>

      <div class="col s12 m4" ng-repeat="expert in expertise track by $index">
        <div class="icon-block">
          <h2 class="center teal-text text-lighten-1">
            <i class="material-icons">{{expert.icon}}</i>
          </h2>
          <h5 class="center">{{expert.heading}}</h5>

          <p class="light">{{expert.blurb}}</p>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="work">
  <div class="parallax-container valign-wrapper small-parallax-container medium-dark-parallax-xontainer">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="center bold">My Work</h3>
        </div>
      </div>
    </div>
    <div parallax class="parallax">
      <img src="images/background2.2.jpg"
           alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container work-content-container">
    <div class="section">
      <!--<h5 class="center know-more">Want to know more? <a href="#contact">Contact me</a></h5>-->

      <div class="row" ng-repeat="job in work track by $index">
        <div class="col s12 l6 work-description medium-center"
             ng-class="$odd ? 'work-right-description' : 'work-left-description'">
          <h5 ng-bind-html="job.name"></h5>

          <p class="work-description-highlight">{{job.contribution}}</p>

          <p class="work-description-content">
            {{job.description}}
          </p>

          <a ng-href="{{job.link}}"
             target="_blank"
             class="btn-large waves-effect waves-light teal lighten-1">
            VISIT WEBSITE
          </a>
        </div>

        <div class="col s12 l6 center">
          <img ng-src="{{job.img}}"
               alt="GMFM App"
               width="100%"
               style="margin-bottom: 50px;"/>
        </div>

        <hr class="separator" ng-if="!$last"/>
      </div>

    </div>
  </div>
</div>

<div id="testimonials" class="">
  <div class="container section">

    <!--   Icon Section   -->
    <div class="row">
      <h3 class="center bold" style="margin-bottom: 40px;">Testimonials</h3>

      <div class="col s12 l6 center">
        <p class="quote">"Some Quote from Name saying how awesome i am :)"</p>
        <div>
          <img class="quote-img"
               src="images/me.jpg"
               alt="Sonya Strohm">
          <span class="quote-title">Some Name, Position, Organization</span>
        </div>
      </div>

      <div class="col s12 l6 center">
        <p class="quote">"Some Quote from Name saying how awesome i am :)"</p>
        <div>
          <img class="quote-img"
               src="images/me.jpg"
               alt="Sonya Strohm">
          <span class="quote-title">Some Name, Position, Organization</span>
        </div>
      </div>

      <div class="col s12 center">
        <p class="quote">"Some Quote from Name saying how awesome i am :)"</p>
        <div>
          <img class="quote-img"
               src="images/me.jpg"
               alt="Sonya Strohm">
          <span class="quote-title">Some Name, Position, Organization</span>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="contact"
     class="parallax-container valign-wrapper dark-parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3 style="margin: 160px 0 120px 0;">Contact Me</h3>
        <form class="col s12" style="margin-bottom: 60px;">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" >Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="subject" type="text" class="validate">
              <label for="subject">Subject</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" type="text" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
            </div>
          </div>
          <a type="submit"
             id="submit-button"
             class="btn-large waves-effect waves-light teal lighten-1">
            SEND MESSAGE
          </a>
        </form>
      </div>
    </div>
  </div>
  <div parallax class="parallax">
    <img src="images/contact-background-2.jpeg"
         alt="Unsplashed background img 3">
  </div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row medium-center">
      <div class="col s12 l3">
        <img src="images/me.jpg"
             class="my-picture"
             alt="Robert Zeni"/>
      </div>

      <div class="col s12 l6 bio-section">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">
          Full-stack Software Developer with 5 years of experience designing
          and building scalable enterprise level solutions in the mHealth and
          eHealth space. Experience includes working on projects with
          organizations such as eHealth Ontario, MOHLTC and McMaster University.
          Currently seeking flexible full-time employment.
        </p>
      </div>

      <div class="col s12 l3">
        <h5 class="white-text">Connect</h5>
        <ul class="connect-links">
          <li><a class="white-text" href="#!">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <span>LinkedIn</span>
          </a></li>
          <li><a class="white-text" href="#!">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <span>Facebook</span>
          </a></li>
          <li><a class="white-text" href="#!">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span>Twitter</span>
          </a></li>
          <li><a class="white-text" href="#!">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <span>Instagram</span>
          </a></li>
          <li><a class="white-text" href="#!">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>Email</span>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="brown-text text-lighten-3"
         href="https://www.linkedin.com/in/robert-zeni-80a522106/">
        Robert Zeni
      </a>
    </div>
  </div>
</footer>